<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">A propos de moi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Ceux qui me connaissent, me définissent comme joviale, enthousiaste et persévrante. Les études sont une vraie aventure pour moi, mais à chaque fois, je vais jusqu'au bout de mes devoirs. Suite à mon DUT informatique en 2017, j'ai poursuivi mes études universitaires à l'UPEC, puis une alternance en L3 Conceptrice d'Application Web et Mobile Sécurisée.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Je suis actuellement une formation en développement d'application Symfony, de part mon amour pour le PHP. Je suis pleine d'ambition et d'enthousiaste pour intégrer bientôt le monde professionnel du développement d'application. J'aime apprendre et faire preuve de mes compétences avec une équipe - ou pas peut-être ;). </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="public/startbootstrap-freelancer-gh-pages/assets/CV_Djazaanti_MSA.pdf" target="_blank">
                <i class="fas fa-download me-2"></i>
                Voir mon CV en ligne!
            </a>
        </div>
    </div>
</section>