{% extends "templates/base.html.twig" %}

{% block title %} Blog {% endblock %}

{% block body %}
    {{parent()}}
        {% block navLinks %}
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="index.php">Accueil</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="index.php?posts">Blog</a></li>
        {% endblock %}
{% endblock %}