 <h1>Page home</h1>
    <section>
        <div>
            <p>Contenu de home</p>
            <div class = bio>
                <p>M'SA Djazaanti</p> 
                <img src="img.gpg">
                <p>M'SA Djazaanti, développeuse PHP/SYMFONY, persévérante et ambitieuse</p>
                <a href="CV.pdf">Consulter mon CV</a>
                <a href="lien github">logo github</a>
                <a href="lien linkedIn">logo linkedIn</a>
                <div><form name="contact"> Prenons contact</form></div>
            </div>