<div class="footer">
    <ul>
        <li href="__main__/controller/HomeController.php">Admin</li>
        <li href="__main__/controller/HomeController.php">Politique de confidentialité</li>
    </ul>
</div>