<div class="menu">
    <ul>
        <li href="__main__/controller/HomeController.php">Accueil</li>
        <li href="__main__/controller/HomeController.php">Blog</li>
        <li href="__main__/controller/HomeController.php">Connexion</li>
        <li href="__main__/controller/HomeController.php">A propos</li>
    </ul>
</div>