{% extends "admin/base.html.twig" %}

{# code security : only admin can access in this page #}
{% block title %} Dashboard {% endblock %}

{% block content %}

    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Dashboard</h2>
            
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </section>

{% endblock %} {# content #}