
<h1>Page home</h1>
<section>
    <div>
        <p>Contenu de home</p>
        {# Permet de debugger #}
        {# {{ dump(users) }}#}
        <ul>
            {% for user in users %}
                <li>{{ user.pseudo }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
