{% include 'templates/base.html.twig' %}

<body id="page-top">
<!-- Navigation-->
{% include 'templates/navigation.html.twig' %}

<!-- Masthead-->
{% include 'templates/header.html.twig' %}

<!-- Portfolio Section-->
{% include 'templates/portfolioSection.html.twig' %}

<!-- About Section-->
{% include 'templates/aboutSection.html.twig' %}

<!-- Contact Section-->
{% include 'templates/contactSection.html.twig' %}

<!-- Footer-->
{% include 'templates/footerSection.html.twig' %}

<!-- Copyright Section-->
{% include 'templates/copyrightSection.html.twig' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="public/js/scripts.js"></script>
</body>
</html>