

<h1>Les derniers posts ici</h1>
{% for post in posts  %}
{#{ post.chapo }#}
<h3>{{post.title}}</h3>
<p>{{post.content}}</p>

{# <a href="index.php?action=post&id={{post.id}}"><p><i>commentaires</i></p></a> #}
<a href="posts/{{post.id}}"><p><i>commentaires</i></p></a>
{% endfor %}